<div ng-controller="TodoCtrl">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <button class="col-xs-3 col-xs-offset-3 btn btn-primary" ng-click="addNewContact()">Add New Contact</button>
            <button class="col-xs-3 btn btn-primary" ng-click="allContacts()">Display All Contacts</button>
        </div>
    </div>
        <h3>Contacts</h3>
        <div ng-repeat="contact in contacts">
            <div class="panel panel-default">
                    <div class="panel-body">
                    <div class="col-xs-1"><input type="checkbox"></div>
                    <div class="col-xs-7">{{contact.name}}</div>
                    <div class="col-xs-1"><button class="btn btn-danger">X</button></div>
                    </div>
                </div>
            </div>
        </div>

            <div ng-show="showListView">
            <h3>New Contacts</h3>
                <form>
                <div class="form-group" id="add-contact" placeholder="New Contact"
                >
                    <input type="text" class="form-control" placeholder="New Contact" ng-model="newContact.name">
                </div>
                <button type="button" class="btn btn-primary btn-lg col-xs-2" ng-click="addNewContact()">New Contact</button>
                </form>
            </div>
        </div>
    </div>
</div>